/**********************************
    SECTION 1 CSS
***********************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-size: 62.5%; /* 16px*62.5% =10 rem */
}

body{
    font: 1.6rem "Roboto",sans-serif;
    margin: 0;
    letter-spacing: .1rem;
    line-height: 1.6;
    background-color: var(--theme--bg--color);
}
h1,h2,h3,p,figure,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
icon-icon{
    vertical-align: -0.4rem;
}
/*scrool bar*/
*{
    /* ff */
    scrollbar-width: thin;
    scrollbar-color: #fff #222;
 }
 /* webkit */
 ::-webkit-scrollbar {
    width: .9rem;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .1rem rgba(244, 243, 240, 0.3);
  }
   
 ::-webkit-scrollbar-thumb {
    background-color: rgb(39, 56, 78);
    outline: .1rem solid rgb(30, 30, 1);
  }
/************************
    section 2 CSS
*************************/
:root{
    --theme--bg--color:  #f0833a;
    --header--bg--color: #00b894;
    --list--bg--color:#b2bec3;
    --text--color:black;
    --text--letter--default:#222;
    --h1--color--part1: #fdcb6e;
    --h1--color--part2: red;
}
/*header*/

header{
    background-color: var(--header--bg--color);
    margin-bottom: 5rem;
}

header>h1{
    text-align: center;
    color: var(--h1--color--part1);
    line-height: 6.5rem;
}
header>h1>span{
    color: var(--h1--color--part2);
}

/*main*/

figure{
    max-width: 90rem;
    margin: 0 auto;
    border: solid 1rem #fff;
    background-color: #fff;
    color: var(--text--color);
    border-radius: 1rem;
}
figure>img{
    width: 100%;
    display: inline-block;
}
figure figcaption ul.list-series{
    line-height: 6rem;
}
figure figcaption ul.list-series li{
    padding: .5rem;
}
figure figcaption ul.list-series li:nth-child(2n+1)/*1 sur 2 à partir du 1er élément*/{
    background-color: var(--list--bg--color);
}

/*détail de la série*/

details{
    background-color: var(--list--bg--color);
}

details summary{
    line-height: 6rem;
    padding-left: .5rem;
}

details p{
    padding: 0.5rem;    
}

/*footer*/

footer *{
    text-align: center;
    color: var(--text--color);
    line-height: 6.5rem;
}