/**********************************
    SECTION 1 CSS
***********************************/
html{
    font-size: 62.5%; /* 16px*62.5% =10 rem */
}

body{
    font: 1.6rem sans-serif;
    margin: 0;
    letter-spacing: .1rem;
    line-height: 1.6;
    background-color: var(--theme--bg--color);
}
h1,h2,h3,p,figure,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}

/************************
    section 2 CSS
*************************/
:root{
    --theme--bg--color: #c3c3c3;
    --header--bg--color: #636e72;
    --list--bg--color:#b2bec3;
    --text--color:#956ea5;
    --text--letter--default:#222;
    --h1--color--part1: #fdcb6e;
    --h1--color--part2: #d63031;
}
/*header*/

header{
    background-color: var(--header--bg--color);
    margin-bottom: 5rem;
}

header>h1{
    text-align: center;
    color: var(--h1--color--part1);
    line-height: 6.5rem;
}
header>h1>span{
    color: var(--h1--color--part2);
}

/*main*/

figure{
    max-width: 90rem;
    margin: 0 auto;
    border: solid 0.5rem #fff;
    background-color: #fff;
}
figure>img{
    width: 100%;
    display: inline-block;
}
figure figcaption ul.list-series{
    line-height: 6rem;
}
figure figcaption ul.list-series li{
    padding: .5rem;
}
figure figcaption ul.list-series li:nth-child(2n+1)/*1 sur 2 à partir du 1er élément*/{
    background-color: var(--list--bg--color);
}

/*détail de la série*/

details summary{
    background-color: var(--list--bg--color);
    line-height: 6rem;
    padding-left: .5rem;
}



